AI_RECOMMEND_DB_HOST=192.168.47.105
AI_RECOMMEND_DB_PORT=3306
AI_RECOMMEND_DB_USER=ai_recommend_app
AI_RECOMMEND_DB_PASSWORD=
AI_RECOMMEND_DB_NAME=ai_recommend
WINE_INFO_DB_NAME=wine_info

POS_DB_HOST=192.168.47.105
POS_DB_PORT=3306
POS_DB_USER=ai_recommend_pos_ro
POS_DB_PASSWORD=
POS_DB_NAME=pos

NAS1_BASE_URL=http://el.naracellar.com/share.cgi
NAS1_SHARE_SSID=

ANTHROPIC_API_KEY=
